//====================================================================================================
.intro {
	display: flex;
	min-height: 100vh;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #b2b2b2;
	}
	&__container {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		z-index: 2;
		padding: 140px 15px 220px 15px;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		@include adaptiv-value("font-size", 72, 42, 1);
		font-weight: 700;
		line-height: 80 / 72 * 100%;
		margin: 0px 0px 10px/72px * 1em 0px;
	}
	&__text {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 500;
		line-height: 150%;
		margin: 0px 0px 25px/20px * 1em 0px;
	}
	&__button {
		margin: 0px 0px 20px 0px;
	}
}
//============================================================================
.welcome {
	&__body {
		@include adaptiv-value("padding-bottom", 70, 30, 1);
		border-bottom: 1px solid #ededed;
	}
	&__head {
		text-align: center;
		@include adaptiv-value("margin-bottom", 70, 20, 1);
	}
	&__title {
		margin: 0px 0px 15px / 50px * 1em 0px;
	}
	&__text {
		max-width: 1048px;
		margin: 0px auto;
	}
}
.slider-welcome {
	position: relative;
	&__body {
		padding: 60px 0px;
		@media (min-width: $md3+px) {
			.swiper-slide-next {
				box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
			}
		}
		@media (max-width: $md3+px) {
			margin-left: -15px;
			margin-right: -15px;
			.swiper-slide-active {
				box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
			}
		}
		@include adaptiv-value("margin-bottom", 60, 10, 1);
	}
	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		transition: all 0.5s ease 0s;
		@include adaptiv-value("padding-top", 55, 20, 1);
		@include adaptiv-value("padding-right", 35, 20, 1);
		@include adaptiv-value("padding-bottom", 50, 20, 1);
		@include adaptiv-value("padding-left", 55, 20, 1);
		border-radius: 8px;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__image {
		margin: 0px 0px 20px 0px;
	}
	&__title {
		font-size: 18px;
		line-height: 150%;
		font-weight: 500;
		color: $mainColor;
		margin: 0px 0px 20px/18px * 1em 0px;
	}
	&__text {
		margin: 0px 0px 20px/16px * 1em 0px;
	}
}
//============================================================================
.swiper-pagination-bullets {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 20px;
}
.swiper-pagination-bullet {
	flex: 0 0 8px;
	height: 8px;
	background-color: #999;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 11px;
	border-radius: 50%;
	transition: all 0.3s ease 0s;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		flex: 0 0 16px;
		width: 16px;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		height: 16px;
		border: 1px solid #999;
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				border-color: $primaryColor;
			}
			background-color: $primaryColor;
		}
	}
}
.swiper-pagination-bullet-active {
	flex: 0 0 15px;
	height: 15px;
	background-color: $primaryColor;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		flex: 0 0 23px;
		width: 23px;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		height: 23px;
		border: 1px solid $primaryColor;
	}
}
//============================================================================
.destination {
	&__body {
		@include adaptiv-value("padding-bottom", 85, 30, 1);
		border-bottom: 1px solid #ededed;
	}
	&__head {
		text-align: center;
		margin: 0px 0px 55px 0px;
	}
	&__title {
		margin: 0px 0px 10px / 50px * 1em 0px;
	}
	&__search {
		display: flex;
		justify-content: center;
		margin: 0px 0px 75px 0px;
	}
}
.slider-destination {
	position: relative;
	&__slide {
		display: grid;
		@include adaptiv-value("gap", 44, 15, 1);
		grid-template-columns: repeat(auto-fit, minmax(390px/1270px * 100%, 1fr));
	}
	&__image {
		background-color: #b2b2b2;
		padding: 0px 0px 100% 0px;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.hover-destination {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__arrows {
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: calc(100% + 300px);
		left: -150px;
		z-index: 5;
		justify-content: space-between;
		@media (max-width: 1600px) {
			width: calc(100% + 100px);
			left: -50px;
		}
		@media (max-width: 1400px) {
			display: none;
		}
	}
}
.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 40px);
	column-gap: 8px;
}
.slider-arrow {
	pointer-events: auto;
	color: $grayColor;
	font-size: 30px;
	cursor: pointer;
	transition: color 0.3s ease 0s;
	&_prev {
		&::before {
			transform: rotate(180deg);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: $primaryColor;
		}
	}
}
.hover-destination {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	padding: 50px 20px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	background: rgba(0, 0, 0, 0.5);
	&__title {
		color: #fff;
		font-weight: 600;
		font-size: 24px;
		line-height: 25 / 24 * 100%;
	}
}
//====================================================================================================
