//====================================================================================================
.intro {
	display: flex;
	min-height: 100vh;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #b2b2b2;
	}
	&__container {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		z-index: 2;
		padding: 140px 15px 220px 15px;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		@include adaptiv-value("font-size", 72, 42, 1);
		font-weight: 700;
		line-height: 80 / 72 * 100%;
		margin: 0px 0px 10px/72px * 1em 0px;
	}
	&__text {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 500;
		line-height: 150%;
		margin: 0px 0px 25px/20px * 1em 0px;
	}
	&__button {
		margin: 0px 0px 20px 0px;
	}
}
//============================================================================
.welcome {
	&__body {
		@include adaptiv-value("padding-bottom", 70, 30, 1);
		border-bottom: 1px solid #ededed;
	}
	&__head {
		text-align: center;
		@include adaptiv-value("margin-bottom", 70, 20, 1);
	}
	&__title {
		margin: 0px 0px 15px / 50px * 1em 0px;
	}
	&__text {
		max-width: 1048px;
		margin: 0px auto;
	}
}
.slider-welcome {
	position: relative;
	&__body {
		padding: 60px 0px;
		@media (min-width: $md3+px) {
			.swiper-slide-next {
				box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
			}
		}
		@media (max-width: $md3+px) {
			margin-left: -15px;
			margin-right: -15px;
			.swiper-slide-active {
				box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
			}
		}
		@include adaptiv-value("margin-bottom", 60, 10, 1);
	}
	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		transition: all 0.5s ease 0s;
		@include adaptiv-value("padding-top", 55, 20, 1);
		@include adaptiv-value("padding-right", 35, 20, 1);
		@include adaptiv-value("padding-bottom", 50, 20, 1);
		@include adaptiv-value("padding-left", 55, 20, 1);
		border-radius: 8px;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__image {
		margin: 0px 0px 20px 0px;
	}
	&__title {
		font-size: 18px;
		line-height: 150%;
		font-weight: 500;
		color: $mainColor;
		margin: 0px 0px 20px/18px * 1em 0px;
	}
	&__text {
		margin: 0px 0px 20px/16px * 1em 0px;
	}
}
//============================================================================
.destination {
	&__body {
		@include adaptiv-value("padding-bottom", 85, 30, 1);
		border-bottom: 1px solid #ededed;
	}
	&__head {
		text-align: center;
		margin: 0px 0px 55px 0px;
	}
	&__title {
		margin: 0px 0px 10px / 50px * 1em 0px;
	}
	&__search {
		display: flex;
		justify-content: center;
		margin: 0px 0px 75px 0px;
	}
}
.slider-destination {
	position: relative;
	&__slide {
		display: grid;
		@include adaptiv-value("gap", 44, 15, 1);
		grid-template-columns: repeat(auto-fit, minmax(390px/1270px * 100%, 1fr));
	}
	&__image {
		background-color: #b2b2b2;
		padding: 0px 0px 100% 0px;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.hover-destination {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__arrows {
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: calc(100% + 300px);
		left: -150px;
		z-index: 5;
		justify-content: space-between;
		@media (max-width: 1600px) {
			width: calc(100% + 100px);
			left: -50px;
		}
		@media (max-width: 1400px) {
			display: none;
		}
	}
}
.hover-destination {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	padding: 50px 20px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	background: rgba(0, 0, 0, 0.5);
	&__title {
		color: #fff;
		font-weight: 600;
		font-size: 24px;
		line-height: 25 / 24 * 100%;
	}
}
//============================================================================
.blog {
	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding-bottom", 85, 30, 1);
		border-bottom: 1px solid #ededed;
	}
	&__head {
		text-align: center;
		@include adaptiv-value("margin-bottom", 120, 40, 1);
	}
	&__title {
		margin: 0px 0px 15px / 50px * 1em 0px;
	}
	&__items {
		@include adaptiv-value("margin-bottom", 120, 40, 1);
	}
	&__button {
		align-self: center;
	}
}
.items-blog {
	display: grid;
	@include adaptiv-value("gap", 74, 0, 1);
	@media (min-width: 1320px) {
		grid-template-columns: auto 286px;
	}
	&__main {
		display: grid;
		@include adaptiv-value("gap", 74, 15, 1);
		grid-template-columns: minmax(auto, 2fr) minmax(286px, 1fr);
		grid-template-rows: minmax(auto, 454px) minmax(207px, auto);
		@media (max-width: 1320px) {
		}
		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
		}
	}
	&__image {
		background-color: #b2b2b2;
		box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
	}
	&__primary {
		display: grid;
		@include adaptiv-value("gap", 74, 15, 1);
		grid-template-rows: minmax(207px, auto);
		@media (max-width: 1320px) {
			grid-template-columns: 1fr 2fr;
		}
		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
		}
	}
}
.card-item {
	display: grid;
	grid-template-rows: 207px auto;
	box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
	&_rev {
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
	}
	&_last {
		@media (max-width: 1320px) {
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr;
		}
	}
	@media (max-width: $md4+px) {
		grid-template-columns: 1fr;
	}
	&__image {
		background-color: #b2b2b2;
		padding: 0px 0px 207px 0px;
	}
	&__content {
		padding: 25px 35px;
		&_primary {
			padding: 15px;
		}
	}
	&__title {
		display: inline-flex;
		color: $mainColor;
		font-size: 20px;
		line-height: 30 / 20 * 100%;
		margin: 0px 0px 10px/20px * 1em 0px;
	}
	&__text {
		color: $ltGrayColor;
		line-height: 25 / 16 * 100%;
	}
}
//============================================================================
.testimonials {
	&__container {
		@media (max-width: $md3+px) {
			padding: 0;
		}
	}
	&__head {
		text-align: center;
	}
	&__title {
		margin: 0px 0px 15px / 50px * 1em 0px;
	}
}
.slider-testimonials {
	&__body {
		@include adaptiv-value("padding-left", 232, 0, 1);
		@include adaptiv-value("padding-right", 232, 0, 1);
		@include adaptiv-value("padding-top", 95, 60, 1);
		@include adaptiv-value("padding-bottom", 140, 80, 1);
		@media (max-width: $md4+px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__slide {
		display: flex;
		align-items: flex-start;
		border-radius: 8px;
		padding: 35px 30px 50px 40px;
		box-shadow: 0px 12px 59px 0px rgba(0, 0, 0, 0.08);
		@media (max-width: $md3+px) {
			flex-direction: column;
			padding: 0;
		}
		@media (min-width: $md3+px) {
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 75px;
				height: 67px;
			}
			&::before {
				top: 0;
				@include adaptiv-value("left", -160, 0, 1);
				transform: translate(-50%, 0px);
				background: url("../img/testimonials/quote-left.png") no-repeat;
			}
			&::after {
				bottom: 0;
				@include adaptiv-value("right", -160, 0, 1);
				transform: translate(50%, 0px);
				background: url("../img/testimonials/quote-right.png") no-repeat;
			}
		}
	}
	&__image {
		flex: 0 0 180px;
		padding: 0px 0px 187px 0px;
		background-color: #b2b2b2;
		border-radius: 8px;
		margin: 0px 35px 0px 0px;
		@media (max-width: $md3+px) {
			width: 100%;
			padding: 0px 0px 100% 0px;
			border-radius: 0px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 40, 20, 1);
		@media (min-width: $md3+px) {
			min-height: 100%;
			padding: 0;
		}
	}
	&__text {
		@media (min-width: $md3+px) {
			flex: 1 1 auto;
		}
		line-height: 25 / 16 * 100%;
		margin: 0px 0px 30px 0px;
	}
	&__author {
		color: $primaryColor;
		margin: 0px 0px 10px / 16px * 1em 0px;
	}
	&__place {
		font-weight: 500;
	}
}
//============================================================================
.subscribe {
	background-color: $primaryColor;
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__text {
		color: #fff;
		@include adaptiv-value("font-size", 40, 22, 1);
		line-height: 120%;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 30px 0px;
		}
	}
}
//====================================================================================================
